@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700;800;900&family=Montserrat:wght@300;500;700;800&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@500&family=Rubik:wght@300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&family=Work+Sans:wght@200;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: 'antialiased';
  -moz-osx-font-smoothing: 'grayscale';
  box-sizing: border-box;
  font-family: 'Poppins';
}
.hide{
  display: none;
}
.show{
  display: block;
}
small{
  letter-spacing: 1px;
  font-weight: 700;
  color:  hsl(26, 100%, 55%);
}
.navbar{
  width: 100%;  
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
.navbar__inner{
  margin: 0 auto;
  width: calc(100% - 30px);
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.377);
  padding-bottom: 20px;
  padding-top: 25px; 
}
.navbar__inner-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
 
}
.navbar__inner-left2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .8em;
  font-weight: 500;
  list-style: none;
  color: grey;
  width: 300px;
  text-decoration: none;
}
.navbar__inner-right{
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}
.navbar__inner-cart{
  position: relative;
  cursor: pointer;
}
.navbar__inner-cartNumber{
  border-radius: 50%;
  height: 18px;
  width: 18px;
  background-color: hsl(26, 100%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(40%, -95%);
  color: white;
  font-size: .8em;
  font-weight: 600;
}
.navbar__inner-right2{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: grey;
  background-image: url('/src/assets/image-avatar.png');
  background-size: cover;
  background-position: 'center';
  cursor: pointer;
}
.hero{
  width: 100%;
}
.hero__inner{
  width: calc(100% - 30px);
  max-width: 1200px;
  min-height: 90vh;
  margin: 0 auto;
  display: flex;
 
}
.hero__inner-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__inner-left2{
  display: none;
}
.hero__inner-scale{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.822);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  height: 100vh;
  z-index: 100;
}
.hero__inner-scaleWrap{
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  margin: 5.3rem auto;
  transform: translate(0);
}
.hero-innerBtn{
  display: flex;
  justify-content: space-between;
  background-color: grey;
  
}
.hero-innerBtn1, .hero-innerBtn2{
  background-color: hsl(223, 64%, 98%);
  border-radius: 50%;
  height: 42px;
  width: 42px;
  object-fit: cover;
  padding: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 5px;
  background-image: hsl(26, 100%, 55%);
  cursor: pointer;
}
.hero-innerBtn1{
  position: absolute;
  top: 40%;
  left: -3%;
}
.hero-innerBtn2{
  position: absolute;
  top: 40%;
  right: 0;
  right: -3%;
}
.hero-innerClose{
  display: block;
  position: absolute;
  top: 0;
  height: 30px;
  right: -5%;
  background-color:hsl(26, 100%, 55%);
  padding: 5px;
  cursor: pointer;
}

.hero__inner-img{
  height: 380px;
  width: 380px;
  border-radius: 20px;
  object-fit: cover;
  margin: 1rem 0;
  cursor: zoom-in;
}
.hero__inner-img2{
  height: 380px;
  width: 380px;
  border-radius: 20px;
  object-fit: cover;
  margin: 1rem 0;
  transform: scale(0);
  animation: scale .1s ease-in forwards;
}
@keyframes scale {
 
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.hero__inner-thumb{
  margin: 0 auto;
  width: 380px;
  display: flex;
  justify-content: space-between;
}
.hero__inner-thumbnail{
  height: 80px;
  width: 80px;
  border-radius: 14px;
  object-fit: cover;
}
/* THUMBNAILS */

.hero__inner-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.hero__inner-rightWrap{
  max-width: 350px;
  
}
.hero__inner-rightTop{
  margin-bottom: 1.5rem;
}
.hero__inner-rightTop h1{
  font-size: 2rem;
  line-height: 1.2;
}
.hero__inner-rightBottom p{
  margin-bottom: 1.5rem;
  line-height: 1.6;
  color: hsl(219, 9%, 45%);
}
.hero__inner-rightBottom{
  font-size: .8em;
}
.hero__inner-rightPrice{
  display: flex;
  flex-direction: column;
}
.hero__inner-rightCurrentPrice{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;

}
.hero__inner-rightCurrentPrice span{
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 3px 8px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1em;
}
.hero__inner-rightSlashedPrice{
  color: hsl(220, 14%, 75%);
  font-weight: 600;
  text-decoration: line-through;
}
.hero__inner-rightActions{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
.hero__inner-rightModify{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding: 10px 0;
  width: 100%;
  background-color: hsl(223, 64%, 98%);
}
.hero__inner-rightCheckOut{
  background-color: hsl(26, 100%, 55%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  border: none; 
  margin-left: 1rem;
}
.hero__inner-rightCheckOut, h5{
  color: white;
  font-weight: 600;
  font-size: 1em;
  margin-left: 4px;
}
.modal{
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 310px;
  min-height: 150px;
  border-radius: 10px;
  position: absolute;
  top: 80%;
  right: 7%;
  z-index: 100;
  scale: .8;
  animation: displayCart .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes displayCart {
  100%{
    scale: 1;
  }
}
.modal__inner{
  padding: 10px;
}
.modal__inner h4{
  align-self: flex-start;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  padding-bottom: 1rem;
}
.modal__inner button{
  background-color: hsl(26, 100%, 55%);
  padding: 10px;
  color: white;
  width: 100%;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: .9em;
}
.modal__inner-contentInfo p,  span{
  font-size: .8em;
  color:hsl(219, 9%, 45%);
}
.modal__inner-contentTotal{
  margin-left: 5px;
  color: black;
  font-weight: 700;
}
.modal__inner-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.modal__inner-contentDelete{
  cursor: pointer;
}
.modal__innerEmpty{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: flex-end;
}


@media (max-width: 900px) {
  .logo{
    height: 18px;
  }
  .navbar__inner{
    padding-bottom: 18px;
  }
  .hero__inner{
    flex-direction: column;
   justify-content: center;
  }
  .hero__inner-left{
    width: 100%;
    display: none;
  }
  .hero__inner-left2{
    display: block;
    position: relative;
  }
  .hero__inner-scale{
    display: none;
  }
  .hero__inner-img{
    width: 100%;
    border-radius: 0;
  }
  .hero__inner-img2{
   display: none;
    
  }  
  .hero__inner-thumb{
    width: 100%;
    display: none;

  }
  .navbar__inner-left2{
    display: none;
  }
  .hero__inner-rightActions{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__inner-right{
    width: 100%;
    padding: 1.5rem 1rem;
    
  }
  .hero__inner-rightModify{
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px 0;
  }
  .hero__inner-rightCheckOut{
    width: 100%;
    justify-content: center;
    padding-top: 10px;
  }
  .hero__inner-rightCheckOut, h5{
    color: white;
    font-weight: 700;
    font-size: 1em;
    margin-left: 8px;
  }
  .hero__inner-rightWrap{
    flex-direction: column;
    justify-content: center;
  }
  .hero__inner-rightPrice{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}